body{
  font-family: 'Raleway', sans-serif;display: flex;
  justify-content: center;

}

.header  {
  font-family: 'Fugaz One';
  font-size: xx-large;
  margin: 10;
	padding: 10;
	border: 10;
}


.question  {
  margin: 40px 0;
}

.btn {
  padding: 14px 80px;
  margin-bottom: 20px;
  font-size: large;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-end;
}

#leaderboard-link a{
  color:white;
}

#main-q-container{
  width:80%;
}

#final-score{
  margin-top:50px;
}
